.footer_container{
    background-color:#FFF0DB;
    height: 200px;
    padding:2px;
}

.row_footer{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer_content-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer_content1,
.footer_content2,
.footer_content3,
.footer_content4{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer_content-img{
    width: 90%;
}
.footer_content-title{
    font-size: 18px;
    font-weight: bold;
    color: #808080;
    margin-bottom: 12px;
}
.input_footer{
    padding: 4px 0px 4px 10px;
    width: 80%;
    margin-bottom: 8px;
}
.icons-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-content{
    width: 15%;
}
.icon-content img{
    width: 100%;
}
a{
    font-size: 15px;
    color: gray;
    margin-bottom: 4px;

}