@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Roboto , Arial;
}



.row{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

}

hr {
  border: none;
  border-radius: 10px;
  height: 2px;
  background-color: #ccc; /* or any color */
  margin: 20px 0;
}


@media (max-width:760px){
    .header_container-left{
        font-size: 10px;
    }
}