.Navbar{
    background-color: rgba(144, 238, 144, 0.415);
    height: 70px;
    padding:2px;
}
.row_nav{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid red; */
  
}
.navbar_content-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.navbar_logo{
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}
.logo_img{
    width: 100%;
    object-fit: cover;
    scale: 0.85;
}
.navbar_menu{
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
   cursor: pointer;
}
.menu_icon{
    width: 100%;
}

/*Header*/

.header_container{
    height: calc(100vh - 74px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_container-left{
    width: 50%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}

.discount_text-container{
    width: 35%;
    padding: 6px 18px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discount_text{
  color: #fff;
}

.title_text-container{
    width: 80%;
    margin: 8px 0px;
}
.title_text{
    width: 100%;
    font-size: 52px;
    line-height: 1.2;
}
.subtitle_text-container{
    width: 75%;
}
.subtitle_text{
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
    margin: 8px 0px;
}
.explore_button-container{
    width: 22%;
}

.explore_more-btn{
    width: 100%;
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 2px;
    background-color: orange;
    color: #000;
    transition: all 0.2s ease-in-out;
}
.explore_more-btn:hover{
  background-color: rgb(255, 178, 34);
}
.header_container-right{
    width: 50%;
    height: 380px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_img{
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    width: 80%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 40px rgba(0, 128, 0, 0.401);
  transition: all 0.8s ease-in-out;
}
.header_img:hover{
    scale: 1.15;
}
