.features_containers{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature_1,.feature_2,.feature_3{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.feature_img{
    width: 24%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discount-img,.fresh-img,.delivery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature_content{
    flex: 1;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.feature_content-top , 
.feature_content-bottom{
    width: 100%;
}
.feature_content-top{
    margin-bottom: 8px;
}

.top-text{
    font-size: 16px;
    font-weight: 500;
}
.bottom-text{
    font-size: 14px;
    color: gray;
}

/*Menu*/

.menu_container{
   width: 100%;
   padding-top: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.menu_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    border-radius: 4px;
    border: none;
    background-color: green;
    color: #fff;
    padding: 6px 16px;
    margin-bottom: 32px;
    cursor: pointer;
}
.menu_heading:hover{
    background-color: rgba(0, 128, 0, 0.669);
}
.heading_text{
    font-size: 16px;
    font-weight: 500;
}
.menu_subheading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
}
.subheading_text{
    font-size: 24px;
    font-weight: 500;
}
.menu_grid-container{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
    margin-bottom: 40px;
 
    
}

.menu_grid_image-container{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms ease-in;
}

.menu_grid_image-container:hover {
    scale: 1.10;
}

.menu_grid-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-span{
      grid-column: span 2;  
}
.row-span{
    grid-row: span 2;
}