@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , Arial;
}
.row{
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
/*END*/
