.section_container{
    width: 100%;
    background-color: #FAFFDC;
}
.section_discord{
   background-color: #CEFEFF;
}
.section_contact{
    background-color: #DCE9FF;
}
.section_content-container{
    width: 100%;
    padding:40px 8px 40px 8px;
}
.section_title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}
.section_details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
}
.section_text-container
{
    width: 60%;
    /* border: 1px solid orange; */
}
.section_text{
   font-size: 18px;
}
.section_img-container{
    width: 35%;
    /* border: 1px solid orange; */
}
.section_img{
    width: 100%;
}
.contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label{
    margin-bottom: 8px;
}
input{
    margin-bottom: 3px;
    padding: 8px 4px;
    outline: none;
}
textarea{
    padding: 8px 4px;
    margin-bottom: 16px;
}
/*END*/
