@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*{
    margin: 0px;
    box-sizing: border-box;
}

p {
font-family: Roboto, Arial;
}
body{
    padding-top: 80px;
    padding-left: 100px;
    background-color: rgba(238, 238, 238, 0.469);
}