.hero {
  min-height: 100vh;
  background-color: var(--color-main);
  padding: var(--space-2);
  position: relative;
  border: 1px solid red;
  overflow: visible;
}

.hero__bg::before,
.hero__bg::after {
  content: "";
  position: absolute;
  width: 52rem;
  min-height: 260vh;
  opacity: 5%;
  background-color: #fff;
  transform: rotateZ(-22deg);
}
.hero__bg::before {
  top: -400px;
  left: -10px;
}
.hero__bg::after {
  top: -400px;
  right: -180px;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-16);
  height: 4.2rem;
  margin-bottom: var(--space-4);
}
.navbar__logo {
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.navbar__logo img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: var(--space-4);
}
.navbar__link-item {
  font-size: var(--fs-sm);
}
.navbar__link-item a {
  opacity: 60%;
  color: var(--color-white);
}
.navbar__link--active a {
  opacity: 100%;
  font-weight: 600;
}
.btn {
  background-color: var(--color-white);
  color: var(--color-neutral-500);
  padding: var(--space-2) var(--space-4);
  border: none;
}
.navbar__option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
}
.navbar__option-btn {
  border-radius: var(--radius-md);
}
.navbar__toggle {
  color: var(--color-white);
  font-weight: 600;
  display: none;
  background: transparent;
  border: none;
  font-size: var(--fs-lg);
}
.header {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  align-items: center;
  text-align: center;
}
.header__subtitle {
  color: #fff;
  opacity: 70%;
  font-size: var(--fs-sm);
  margin-bottom: var(--space-2);
}
.header__title {
  color: #fff;
  font-size: var(--fs-xxl);
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  font-weight: 500;
  margin-bottom: var(--space-2);
  line-height: 1.3;
}
.header__form {
  width: 50%;
  max-width: 400px;
  position: relative;
}
.header__form-input {
  width: 100%;
  border-radius: var(--radius-xl);
  outline: none;
  border: 1px solid #fff;
  padding: var(--space-3) var(--space-4);
  background: transparent;
  color: #fff;
  letter-spacing: 1.3px;
}
.header__form-submit {
  border-radius: var(--radius-xl);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  font-weight: 600;
}
.hero__image {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -45%);
  width: min(700px, 85%);
}
.hero__image img {
  width: 100%;
  object-fit: cover;
}
