@media (max-width: 990px) {
  .navbar {
    gap: var(--space-7);
  }
  .navbar__link {
    gap: var(--space-3);
  }
  .hero__bg::before {
    width: 28rem;
  }
  .hero__bg::after {
    width: 39rem;
  }
}

@media (max-width: 790px) {
  .navbar {
    justify-content: space-between;
  }
  .navbar__link {
    display: none;
  }
  .navbar__toggle {
    display: block;
  }
  .hero__bg::before {
    width: 22rem;
  }
  .hero__bg::after {
    width: 36rem;
  }
}

@media (max-width: 550px) {
  .hero {
    padding-inline: 1rem;
  }
  .navbar__option-btn {
    display: none;
  }
  .hero__bg::after {
    display: none;
  }
  .hero__bg::before {
    left: 50%;
    transform: translateX(-50%) rotateZ(-22deg);
  }
}
