.sidebar_container{
    width: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 54px;
    background-color: #fff;
   border-right: 1px solid rgb(228, 228, 228);
   z-index: 200;
   padding-top: 12px;
}

.sidebar_links{
    height:75px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.siderbar_icon{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}
.icon-img{
    width: 100%;
    object-fit: cover;
}
.siderbar_IconText{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarIcon_text{
    font-size: 10px;    
}
.sidebar_links:hover{
    background-color: rgba(198, 198, 198, 0.299);
}