.thumbnail {
    width: 100%;
}

      /* .video-preview {
        width: 280px; 
        display: inline-block;
        margin-right: 16px;
         vertical-align: top;
      } */

      /* .channel-img,
      .video-info_content {
        display: inline-block;
        vertical-align: top;
      } */
      /* .video-info_content {
        width: 80%;
      } */
.video_title {
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 12px;
    width: 100%;
}
.video_creator,
.video_stats {
    font-size: 14px;
    color: rgb(95, 95, 95);
}
.video_creator {
    margin-bottom: 4px;
}
.video-info-grid {
    /* background-color: gray; */
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 8px;
}
      /* .channel-img {
        width: 100%;
        height: 100%;
      } */

.profile-img {
    width: 100%;
    border-radius: 40px;
}
.video-thumbnai {
    margin-bottom: 12px;
    position: relative;
}
.video-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;    
}

@media (min-width:1000px){
      .video-grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}

@media (max-width:900px){
  .video-grid-container{
    grid-template-columns: 1fr 1fr;
  }    
}

@media (max-width:600px){
  .video-grid-container{
    grid-template-columns: 1fr;
  }    
      .right-section{
        opacity: 0;
    }
    .middle-section{
        margin-left: 120px;
    }
}

@media (max-width:350px){
    body{
        padding-left: 20px;
    }
   .sidebar_container{
       opacity: 0;
   }
   .left-section{
    width: 150px;
    margin-left: 14px;  
   }
   .header_menu-container{
    margin-right: 10px;
}
    .middle-section{
    flex: 1;
    max-width: 550px;
    margin-left: 10px;
   
    }
    .right-section{
        opacity: 0;
    }
}

.video_time{
    background-color: #000;
    color: #fff;
    position: absolute;
    right: 8px;
    bottom: 10px;
    padding: 4px 6px;
    font-family: Roboto,Arial;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
}