.thumbnail {
    width: 100%;
}

      /* .video-preview {
        width: 280px; 
        display: inline-block;
        margin-right: 16px;
         vertical-align: top;
      } */

      /* .channel-img,
      .video-info_content {
        display: inline-block;
        vertical-align: top;
      } */
      /* .video-info_content {
        width: 80%;
      } */
.video_title {
    width: 300px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 12px;
    width: 100%;
}
.video_creator,
.video_stats {
    font-size: 14px;
    color: rgb(95, 95, 95);
}
.video_creator {
    margin-bottom: 4px;
}
.video-info-grid {
    /* background-color: gray; */
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 8px;
}
      /* .channel-img {
        width: 100%;
        height: 100%;
      } */

.profile-img {
    width: 100%;
    border-radius: 40px;
}
.video-thumbnai {
    margin-bottom: 12px;
}
.video-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
}