.copyrightswrapper {
  background-color: #fafafa;
  /* border: 1px solid red; */
}
.copyright {
  padding: 2rem 1.5rem;
  border: 1px solid greenyellow;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.copyright__info {
  font-size: 1.5rem;
  color: #737373;
  font-weight: 500;
}
.copyright__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.copyright__socials i {
  font-size: 3rem;
  color: #96bb7c;
}
