.facultieswrapper {
  padding: 8rem 7rem;
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 1px solid yellowgreen; */
}
.courses__name {
  width: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.courses__image {
  width: 100%;
  position: relative;
}
.courses__sale {
  position: absolute;
  top: 6px;
  left: 8px;
  background-color: red;
  color: #fff;
  padding: 0.2rem 0.8rem;
  font-size: 1.4rem;
  font-weight: 600;
}
.courses__options {
  position: absolute;
  bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.courses__like,
.courses__cart,
.courses__watch {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 0.8rem;
  border: none;
  font-size: 1.6rem;
}
.courses__image img {
  width: 100%;
  object-fit: cover;
}
.courses__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}
.courses__info {
  padding: 1rem 2rem;
}
.review-txt {
  color: #96bb7c;
  font-weight: 700;
  font-size: 1.5rem;
}
.review-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 0.4rem;
  background-color: #2d4059;
  padding: 0.3rem 0.5rem;
}
.review-rating i {
  color: rgb(255, 208, 0);
}
.rating-txt {
  color: #fff;
  font-weight: 700;
}
.courses__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.courses__description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #737373;
  width: 75%;
  margin-bottom: 1rem;
}
.courses__stats {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #737373;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.pricing {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.pricing__original {
  color: #737373;
}
.pricing__new {
  color: #2dc071;
}
.courses__navigation {
  color: #96bb7c;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1rem 1.6rem;
  border: 1px solid #96bb7c;
  width: fit-content;
  border-radius: 30px;
}
