@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button:hover {
  cursor: pointer;
}
.btn-greenfill {
  color: #ffffff;
  background-color: #96bb7c;
}
.btn-greenhollow {
  border: 2px solid #96bb7c;
  background-color: transparent;
  color: #96bb7c;
}
