.herowrapper {
  width: 100%;
  background-color: #ddf4ff;
  min-height: 100vh;
}
.navbar,
.header {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.navbar {
  height: 7.2rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}
.navbar__logo {
  width: 20rem;
  flex-shrink: 0;
}
.navbar__logo img {
  width: 100%;
  object-fit: cover;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.navbar__link-item {
  color: #737373;
}
.navbar__options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.navbar__login,
.navbar__join {
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border: 2px solid #96bb7c;
}
.navbar__toggle {
  display: none;
  background: none;
  border: none;
  font-size: 3rem;
}
.header {
  min-height: calc(100vh - 7.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6rem;
}
.header__right,
.header__left {
  width: 50%;
  height: 100%;
}
.header__right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
}
.header__tagline {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: #96bb7c;
  font-weight: 700;
}
.header__title {
  margin-bottom: 1.2rem;
  font-size: 4.8rem;
  width: 80%;
  text-transform: uppercase;
  line-height: 1.2;
}
.header__subtitle {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #737373;
  font-weight: 500;
  width: 60%;
  line-height: 1.5;
}
.header__options {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 60%;
}
.header__purchase,
.header__learn {
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  border: 2px solid #96bb7c;
}
