.processwrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  /* border: 1px solid red; */
  padding: 4rem 7rem;
}
.process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.process__left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid blue; */
}
.process__ruler {
  width: 12%;
  margin-bottom: 2rem;
  height: 5px;
  border: none;
  background-color: #ff0000;
}
.process__title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.process__subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #737373;
  margin-bottom: 2rem;
}
.process__action {
  color: #96bb7c;
  font-weight: 600;
  font-size: 1.4rem;
}
.process__right {
  width: 50%;
  /* border: 1px solid blue; */
}
.process__right img {
  width: 100%;
  object-fit: cover;
}
