@media (max-width: 1125px) {
  .header__title,
  .header__options {
    width: 100%;
  }
  .header__subtitle {
    width: 75%;
  }
  .header {
    padding: 0 4rem;
  }
  .featurewrapper {
    padding: 5rem 4rem;
  }
  .info {
    align-items: center;
    text-align: center;
  }
  .info__subtitle {
    width: 75%;
  }
  .card__subtitle {
    width: 90%;
    text-align: center;
  }
  .card {
    align-items: center;
    padding: 2rem;
  }
  .facultieswrapper {
    padding: 5rem 4rem;
  }
  .testimonialContent {
    padding: 5rem 4rem;
  }
  .partnerswrapper {
    padding: 5rem 4rem;
  }
  .newsletterwrapper {
    padding: 5rem 4rem;
  }
  .footerwrapper {
    padding: 5rem 4rem;
  }
}

@media (max-width: 950px) {
  .navbar {
    padding: 0 1.6rem;
  }

  .navbar__link {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }

  .header__title {
    font-size: 3.8rem;
  }
  .header__subtitle {
    width: 80%;
  }
  .process {
    flex-direction: column;
  }
  .process__left {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .testimonials__card {
    padding: 1.2rem;
  }
  .testimonial__text {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .header {
    flex-direction: column;
    padding: 4rem 2rem;
  }
  .header__left {
    margin-bottom: 6rem;
    text-align: center;
    width: 100%;
    align-items: center;
  }

  .header__title {
    font-size: 2.8rem;
  }
  .header__options {
    justify-content: center;
  }
  .statscontainer {
    gap: 5rem;
  }
  .feature,
  .courses {
    flex-direction: column;
  }
  .courses__name {
    width: 50%;
  }

  .processwrapper {
    padding: 4rem;
  }
  .testimonials {
    flex-direction: column;
  }
  .testimonials__card {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .navbar__login,
  .navbar__join {
    display: none;
  }
  .header__right {
    width: 100%;
  }
  .process__right {
    width: 100%;
  }
  .featurewrapper {
    padding: 4rem 2rem;
  }
  .processwrapper {
    padding: 2rem 1rem;
  }
  .facultieswrapper {
    padding: 2rem 1rem;
  }
  .testimonialContent {
    padding: 2rem 1rem;
  }
  .courses__name {
    width: 70%;
  }
  .courses__description {
    width: 100%;
  }
  .testimonials__card {
    width: 80%;
  }
  .info__subtitle {
    width: 100%;
  }
  .subscribe__form {
    width: 24rem;
  }
  .newsletterwrapper {
    padding: 2rem 1rem;
  }
  .footerwrapper {
    padding: 2rem 1rem;
  }
  .footer {
    justify-content: center;
  }
  .copyright {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
}
