@media (max-width: 1125px) {
  .header__title,
  .header__options {
    width: 100%;
  }
  .header__subtitle {
    width: 75%;
  }
  .header {
    padding: 0 4rem;
  }
  .featurewrapper {
    padding: 5rem 4rem;
  }
  .info {
    align-items: center;
    text-align: center;
  }
  .info__subtitle {
    width: 75%;
  }
  .card__subtitle {
    width: 90%;
    text-align: center;
  }
  .card {
    align-items: center;
    padding: 2rem;
  }
}

@media (max-width: 950px) {
  .navbar {
    padding: 0 1.6rem;
  }

  .navbar__link {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }

  .header__title {
    font-size: 3.8rem;
  }
  .header__subtitle {
    width: 80%;
  }
  .process {
    flex-direction: column;
  }
  .process__left {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .process__right {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .header {
    flex-direction: column;
    padding: 4rem 2rem;
  }
  .header__left {
    margin-bottom: 6rem;
    text-align: center;
    width: 100%;
  }
  .header__right {
    width: 100%;
  }
  .header__title {
    font-size: 2.8rem;
  }
  .header__options {
    justify-content: center;
  }
  .statscontainer {
    gap: 5rem;
  }
  .processwrapper {
    padding: 4rem;
  }
}

@media (max-width: 550px) {
  .navbar__login,
  .navbar__join {
    display: none;
  }
  .featurewrapper {
    padding: 8rem 2rem;
  }
  .processwrapper {
    padding: 4rem 2rem;
  }
}
