.statswrapper {
  padding: 3.5rem 0;
}

.statscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  flex-wrap: wrap;
}
.statscontainer {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  /* border: 1px solid red; */
}
.customers,
.visitors,
.countries,
.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid blue; */
  min-width: 8rem;
}
.statnumbers {
  font-size: 4.4rem;
  color: #96bb7c;
  font-weight: 600;
  text-transform: uppercase;
}
.stattitle {
  font-size: 1.4rem;
  font-weight: 500;
}
