.testimonialswrapper {
  background-color: #ddf4ff;
}
.testimonialContent {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 8rem 7rem;
  border: 1px solid red;
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.testimonials__card {
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fff;
}
.testimonials__card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}
.testimonials__card-rating i {
  color: rgb(255, 208, 0);
}
.testimonial__text {
  text-align: center;
  width: 50%;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}
.testimonial__user {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.testimonial__user-image {
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial__user-image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonial__user-info {
  flex: 1;
}
.testimonial__user-name {
  color: #96bb7c;
  font-weight: 600;
  font-size: 1.4rem;
}
.testimonial__user-occupation {
  color: #737373;
  font-weight: 600;
  font-size: 1.2rem;
}
