@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
p{
    margin: 0px;
    font-family: Montserrat;
}
.model_num{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 12px;
}
.model_info{
    text-align: center;
    font-size: 18px;
}
.link{
    cursor: pointer;
    text-decoration: underline;
}
.link:hover{
    color: purple;
}